html  {
	scroll-behavior: smooth;
	-ms-scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}

body  {
	font-family: 'Questrial', sans-serif;
	margin: 6px 6px;
	padding: 10px;
	background: #111;
	color: #fff;
	/*linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)),
	url("stockid_gambar/wall.jpg") no-repeat center center fixed;
	background-size: cover;*/
}

/* ================= STATISTIK ================= */
.stat-box {
	color: #fff;
	background: #1b1b1b;
	padding: 16px;
	border-radius: 16px;
	margin-bottom: 20px;
}

.stat-row  {
	margin-bottom: 8px;
}

.stat-label {
	font-size: 14px;
	margin-bottom: 4px;
}

.bar {
	height: 10px;
	background: #333;
	border-radius: 6px;
	overflow: hidden;
}

.bar-fill {
	height: 100%;
	width: 0;
	background-size: 28px 28px;
	animation: grow .9s ease forwards, barber 1s linear infinite;
	-webkit-animation: grow .9s ease forwards, barber 1s linear infinite;
}

@keyframes barber {
	from  {
		background-position: 0 0;
	}
	to  {
		background-position: 28px 28px;
	}
}

@-webkit-keyframes barber {
	from  {
		background-position: 0 0;
	}
	to  {
		background-position: 28px 28px;
	}
}

@keyframes grow {
	from  {
		width: 0;
	}
	to  {
		width: var(--w);
	}
}

@-webkit-keyframes grow {
	from  {
		width: 0;
	}
	to  {
		width: var(--w);
	}
}

/* warna bar */
.b1 {background-image: repeating-linear-gradient(45deg,#F9629F 0 7px,#FFC0CB 7px 14px);}
.b2 {background-image: repeating-linear-gradient(45deg,#EE82EE 0 7px,#e1bee7 7px 14px);}
.b3 {background-image: repeating-linear-gradient(45deg,#03a9f4 0 7px,#81d4fa 7px 14px);}
.b6 {background-image: repeating-linear-gradient(45deg,#4caf50 0 7px,#7cff7c 7px 14px);}
.b12 {background-image: repeating-linear-gradient(45deg,#ff9800 0 7px,#ffd180 7px 14px);}
.bx {background-image: repeating-linear-gradient(45deg,#f44336 0 7px,#ff8a80 7px 14px);}

/* ================= CONTROL ================= */
.controls {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	margin-bottom: 16px;
}

input,select {
	color: #fff;
	background: #1b1b1b;
	padding: 8px;
	border: 1px solid #fff;
	border-radius: 6px;
	outline: none;
	transition: 0.8s;
}

input:hover {
	border: 1px solid dodgerblue;
	border-radius: 12px;
}

/* ================= MEMBER ================= */
.member {
	font-size: 16px;
	color: #fff;
	background: #222;
	padding: 12px;
	margin-bottom: 12px;
	border-radius: 8px;
	position: relative;
}

.satu {border-left: 5px solid #F9629F;}
.dua {border-left: 5px solid #EE82EE;}
.tiga {border-left: 5px solid #03a9f4;}
.enam {border-left: 5px solid #4caf50;}
.setahun {border-left: 5px solid #ff9800;}
.expired {border-left: 5px solid #f44336;color: #ff6b6b;}

.badge {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 12px;
	padding: 4px 8px;
	border-radius: 12px;
	background: #333;
}

.history {
	font-size: 14px;
	color: #ccc;
	margin-top: 6px;
}

.notif-btn {
	bottom: 10px;
	left: 16px;
	position: fixed;
	background: dodgerblue; /*3498db;*/;
	color:#fff;
	padding: 6px 10px;
	border: 1px solid #fff;
	border-radius: 12px;
	margin-bottom:10px;
	z-index: 100;
}
